.done-btn {
    color: whitesmoke;
    
}


.task-card {
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 2px 2px 2px white;
    width: 50%;
    height: 4vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    font-family: monospace;
    text-align: center;
    margin-top: 5vh;
    color:whitesmoke;
    font-size: 3vh;
    text-align:center;
}

.fragment{
    display: flex;
}